.counterContainer {
    margin-bottom: 10px;
    
    display: flex;
    align-items: center;

    column-gap: 10px;
}

.counterBtn {
    box-sizing: border-box;

    width: 64px;
    height: 64px;

    background-color: white;
    border: 2px solid #646cff;
}

.countSpan {
    box-sizing: border-box;

    padding: 18.3px 0;
    
    width: 64px;
    

    border: 2px solid #646cff;
    border-radius: 8px;

    text-align: center;
}

.resetBtn {
    box-sizing: border-box;

    width: 200px;
    height: 64px;

    background-color: white;
    border: 2px solid #646cff;
}

.counterBtn:hover, .resetBtn:hover {
    background-color: #535bf2;
    border-color: #535bf2;
    color: white;
}